# ignore most things, include some others
/*
/.*
/lib
!/cli-packages
!/bin
!/src
!/docs
!/package.json
!/package-lock.json
!/README.md
!/CONTRIBUTING.md
!/LICENSE
!/CHANGELOG.md
!/example
!/scripts
!/tap-snapshots
!/test
!/.github
!/.gitignore
!/.gitattributes
!/.prettierignore
!/coverage-map.js
!/map.js
!/index.js
